html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

header {
  background: black;
}

header .container {
  padding: .66rem 0 .66rem .5rem;
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
}

.container {
  width: 960px;
  margin: auto;
}

.main {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  background-size: cover;
  background-position: center;
}

.new {
  background: black;
  padding: 2rem 3rem;
  width: 20rem;
  position: relative;
  top: 9rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: .25rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

nav {
  background: firebrick;
  padding: .75rem 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.product-image img {
  max-width: 8rem;
}

.item {
    background: black;
    padding: .5rem;
    display: block;
    text-align: center;
}

.info {
  width: 35%;
}

.numbers {
  color: black;
}

.title {
  background-color: black;
  padding: 1rem 2rem;
  display: block;
}

footer {
  padding: 5rem 0;
  margin-top: 4rem;
  background: black;
}

@media only screen and (max-width: 1024px) {
  .product {
    width: 47%;
  }
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }

  .product.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .main {
    height: 15rem;
  }
  .new {
    width: 100%;
    padding: 1rem 2rem;
    top: 10rem;
  }
  .new h3 {
    font-size: .77rem;
  }
  .new h1 {
    font-size: 1rem;
  }
  .products,
  business-info {
    flex-wrap: wrap;
  }

  .product {
    width: 90%;
    margin: auto;
  }
  .product.watch {
    display: none;
  }

  .info {
    width: 90%;
    margin .5rem auto;
  }

  footer {
    text-align: center;
  }
}
